<include file="public/content_header"></include>
<!--主体内容 BEGIN-->
<div style="padding:0 0 0 0">
    <div class="layui-card">
        <div class="layui-card-header layuiadmin-card-header-auto">
            <!--搜索区域 BEGIN-->
            <form action="" class="layui-form searchForm" lay-filter="search">
                <div class="layui-form-item">
                    <div class="layui-inline" id="search">
                        <div class="layui-inline">
                            <label class="layui-form-label">财务类型</label>
                            <div class="layui-input-block">
                                <select name="type">
                                    <option value="">请选择</option>
                                    <volist name=":config('type.bank_type')" id="v">
                                        <option value="<{$key}>"><{$v}></option>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">操作钱包</label>
                            <div class="layui-input-block">
                                <select name="money_type">
                                    <option value="">请选择</option>
                                    <eq name=":config('my.on_money_a')" value="1">
                                        <option value="a"><{:config('type.user_money_type.a')}></option>
                                    </eq>
                                    <eq name=":config('my.on_money_b')" value="1">
                                        <option value="b"><{:config('type.user_money_type.b')}></option>
                                    </eq>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" type="button" data-type="search">
                            <i class="layui-icon layui-icon-search"></i>
                        </button>
                        <button class="layui-btn" type="reset" data-type="clear">
                            <i class="layui-icon layui-icon-refresh"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!--搜索区域 END-->
        </div>
        <div class="layui-card-body">
            <!--表格主体 BEGIN-->
            <table class="layui-hide" id="test" lay-filter="test"></table>
            <!--表格主体 END-->
        </div>
    </div>
</div>
<!--主体内容 END-->

<!--右侧固定栏 BEGIN-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!--右侧固定栏 END-->

<!--表格自定义按钮 BEGIN-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" style="background-color: #1a242f" onclick="reload()">
            <i class="layui-icon layui-icon-refresh"></i>
        </button>
    </div>
</script>
<!--表格自定义按钮 END-->
<script>
    var table = layui.table;
    var form = layui.form;
    form.render();
    var controller = "Bank";
    var model = "Bank";
    var zhujian = "id";
    var title = "财务记录表";
    var tableUrl = "<{:url('" + controller + "/ajaxGet" + model + "List')}>";
    var cols = [
        // {type: 'checkbox', fixed: 'left'}
          {field: 'id', title: 'ID', width: 80, sort: true, unresize: true}
        , {field: 'name', title: '用户名', search: true, minwidth: 150}
        , {field: 'money', title: '操作金额', minwidth: 150}
        , {field: 'type', title: '财务类型', minwidth: 150}
        , {field:'money_type', title: '操作钱包',minwidth: 150}
        , {field: 'total', title: '剩余金额', minwidth: 150}
        , {field: 'state', title: '到账状态', width: 100}
        , {field: 'msg', title: '备注'}
        , {field: 'create_time', title: '时间', width: 160, fixed: 'right', sort: true}
        // , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
    ];

    // 监听行工具事件
    function tool(obj) {
        if (obj.event === 'del') {
            layer.confirm('您确定要删除吗？删除后无法恢复！', function (index) {
                $.post("<{:url('" + controller + "/del" + model + "Act')}>", {id: obj.data[zhujian]}, function (e) {
                    if (e.code == 0) {
                        showMsg(e.msg, false);
                    } else {
                        showMsg(e.msg);
                    }
                }, "json");
            });
        }
    }
</script>
<script src="/static/admin/table.js"></script>
