<!--面包屑导航 BEGIN-->
<blockquote class="layui-elem-quote" style="border-left: unset">
    <span class="layui-breadcrumb">
        <a href="<{:url('/')}>">首页</a>
        <a href="#" id="parent_menu"><{$module.model_name}></a>
        <a id="son_menu"><cite><{$module.page_name}></cite></a>
    </span>
</blockquote>
<!--面包屑导航 END-->
<!--操作说明 BEGIN-->
<blockquote class="layui-elem-quote" style="margin-top: 10px">
    <span style="color: #01AAED;">
    <{$module.intro}>
    </span>
    <a class="layui-icon layui-icon-close" style="padding: 0 3px;right: 15px;position: absolute">
    </a>
</blockquote>
<!--操作说明 END-->
