<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>支付宝支付</h3>
<form action="" method="post">
    <input type="hidden" name="id" value="1">
    <button type="submit">支付</button>
</form>
</body>
</html>
<script src="__STATIC__/layui/layui.js"></script>
<script>
    layui.use('jquery',function () {
        var $ = layui.$;
        // $.post("index/pay",{},function (e) {
        //     location.href = e;
        // },'json')
    })
</script>
