<include file="public/content_header"></include>
<!--主体内容 BEGIN-->
<div style="padding:0 0 0 0">
    <div class="layui-card">
        <form class="layui-form" id="form1" style="padding: 20px;">
            <if (isset($info.id))>
                <input type="hidden" name="id" value="<{$info.id|default=''}>">
            </if>
            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="text" name="title" value="<{$info.title|default=''}>" lay-verify="required"
                           placeholder="请输入标题" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-block">
                    <select name="type">
                        <volist name=":config('type.static')" id="v">
                            <option value="<{$key}>" <eq name="$info.type|default=''" value="$v">selected</eq> ><{$v}></option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">简介</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" rows="3" name="intro" lay-verify="required"><{$info.intro|default=''}></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">内容</label>
                <div class="layui-input-block">
                    <div id="div3"><{$info.content|default=''|raw}></div>
                    <!--<textarea id="edit1" class="layui-textarea" style="display:none;"><{$info.content|default=''|raw}></textarea>-->
                </div>
            </div>
            <div class="layui-form-item">
                <input type="button" class="layui-btn" lay-submit lay-filter="submit" value="确认">
            </div>
        </form>
    </div>
</div>
<!--<script type="text/javascript" src="https://unpkg.com/wangeditor/dist/wangEditor.min.js"></script>-->
<script type="text/javascript" src="__STATIC__/admin/js/wangEditor.min.js"></script>
<script type="text/javascript">
    const E = window.wangEditor;
    const editor = new E('#div3');
    editor.config.uploadImgServer = "<{:url('Uploads/editorUploadAct')}>";
    editor.config.uploadFileName = "file";
    // editor.config.showLinkImg = false;// 网络图片
    editor.config.showFullScreen = false;// 全屏
    editor.config.emotions  = false;// 表情
    editor.create();
    // editor.txt.html()
</script>
<script>
    var id = "<{$id}>";
    var form = layui.form,
        layer = layui.layer;
    var controller = "News";
    var model = "Static";
    var layedit = layui.layedit;
    form.render();
    //建立编辑器
    // var index = layedit.build('edit1',{
    //     uploadImage:{
    //         url:"<{:url('uploads/editorUploadAct')}>",
    //         type:'post',
    //     }
    // });
    form.on('submit(submit)',function (data) {
        data.field.content = editor.txt.html();
        // data.field.content = layedit.getContent(index);
        if(data.field.content == ''){
            showMsg('请输入内容',false);return;
        }
        if(id && id !='' && id != 0){
            $.post("<{:url('" + controller + "/edit" + model + "Act')}>", data.field, function (e) {
                showMsg(e.msg, e.code, function () {
                    if (e.code == 1) {
                        location.href = "<{:url('"+controller+"/"+model+"List')}>"
                    }
                });
            }, 'json');
        }else{
            $.post("<{:url('" + controller + "/add" + model + "Act')}>", data.field, function (e) {
                showMsg(e.msg, e.code, function () {
                    if (e.code == 1) {
                        location.href = "<{:url('"+controller+"/"+model+"List')}>"
                    }
                });
            }, 'json');
        }
    })
</script>
