<include file="public/content_header"></include>
<!--主体内容 BEGIN-->
<div style="padding:0 0 0 0">
    <div class="layui-card">
        <div class="layui-card-header layuiadmin-card-header-auto">
            <!--搜索区域 BEGIN-->
            <form action="" class="layui-form searchForm" lay-filter="search">
                <div class="layui-form-item">
                    <div class="layui-inline" id="search">
                        <!--<div class="layui-inline">-->
                        <!--    <label class="layui-form-label">选择框</label>-->
                        <!--    <div class="layui-input-block">-->
                        <!--        <select name="name">-->
                        <!--            <option value="">请选择省</option>-->
                        <!--            <option value="1">浙江省</option>-->
                        <!--        </select>-->
                        <!--    </div>-->
                        <!--</div>-->
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" type="button" data-type="search">
                            <i class="layui-icon layui-icon-search"></i>
                        </button>
                        <button class="layui-btn" type="reset" data-type="clear">
                            <i class="layui-icon layui-icon-refresh"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!--搜索区域 END-->
        </div>
        <div class="layui-card-body">
            <!--表格主体 BEGIN-->
            <table class="layui-hide" id="test" lay-filter="test"></table>
            <!--表格主体 END-->
        </div>
    </div>
</div>
<!--主体内容 END-->

<!--右侧固定栏 BEGIN-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!--右侧固定栏 END-->

<!--表格自定义按钮 BEGIN-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" style="background-color: #1a242f" onclick="reload()">
            <i class="layui-icon layui-icon-refresh"></i>
        </button>
        <button class="layui-btn layui-btn-sm" lay-event="add" onclick="add()"><i class="layui-icon"></i>添加</button>
        <button class="layui-btn layui-btn-sm layui-btn-danger layui-btn-disabled" id="btn-del" disabled
                lay-event="del" onclick="delAll()"><i class="layui-icon"></i>删除
        </button>
        <button class="layui-btn layui-btn-sm layui-btn-disabled" id="btn-cz" disabled lay-filter="dropdown1"
                lay-dropdown="{templateMenu: '#custMenu'}">
            <i class="layui-icon layui-icon-set"></i>
            <span>更多</span>
        </button>
    </div>
</script>
<!--下拉更多-->
<script type="text/html" id="custMenu">
    [
    [{txt: "全部显示", event: "allShow"}]
    [{txt: "全部隐藏", event: "allHidden"}]
    ]
</script>
<!--切换-->
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="hidden" value="{{d.id}}" lay-skin="switch" lay-text="显示|隐藏" lay-filter="hiddenDemo" {{d.hidden == 0 ? 'checked' : '' }} >
</script>
<!--表格自定义按钮 END-->
<script>
    var table = layui.table;
    var form = layui.form;
    form.render();
    var controller = "Access";
    var model = "Module";
    var zhujian = "id";
    var title = "模块列表";
    var tableUrl = "<{:url('" + controller + "/ajaxGet" + model + "List')}>";
    var cols = [
        {type: 'checkbox', fixed: 'left'}
        , {field: 'id', title: 'ID', width: 80, sort: true, unresize: true}
        , {field: 'model_name', title: '模块名', search: true, edit: 'text'}
        , {field: 'model_disp', title: '模块排序', width: 110, sort: true}
        , {field: 'page_name', title: '操作名', search: true}
        , {field: 'page_disp', title: '操作排序', width: 110, sorth: true}
        , {field: 'page_url', title: 'URL'}
        , {field: 'hidden', title: '状态', width: 100, align: 'center', templet: "#switchTpl", sort: true}
        , {field: 'intro', title: '操作说明'}
        , {field: 'create_time', title: '添加时间', width: 160, fixed: 'right', sort: true}
        , {fixed: 'right', title: '操作', align: 'center', toolbar: '#barDemo', width: 150}
    ];

    // 监听行工具事件
    function tool(obj) {
        if (obj.event === 'edit') {
            layer.open({
                type: 2,
                title: '修改',
                area: ['50%', '70%'],
                maxmin: true,
                content: ["add"+model+"?id=" + obj.data[zhujian]],
                btn: ['确认', '取消'],
                yes: function (index, layero) {
                    var iframeWindow = window['layui-layer-iframe' + index],
                        submitID = 'submit',
                        submit = layero.find('iframe').contents().find('#' + submitID);
                    // 监听提交
                    iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                        data.field.hidden = data.field.hidden == "on" ? 0 : 1;
                        var field = data.field;// 获取提交的字段
                        // 提交ajax
                        $.post("<{:url('" + controller + "/edit" + model + "Act')}>", field, function (e) {
                            showMsg(e.msg, e.code, function () {
                                if (e.code == 1) {
                                    table.reload("test", {});
                                    layer.close(index);
                                }
                            });
                        }, 'json');
                    });
                    submit.trigger('click');
                },
            });
        } else if (obj.event === 'del') {
            layer.confirm('您确定要删除吗？删除后无法恢复！', function (index) {
                $.post("<{:url('" + controller + "/del" + model + "Act')}>", {id: obj.data[zhujian]}, function (e) {
                    if (e.code == 0) {
                        showMsg(e.msg, false);
                    } else {
                        showMsg(e.msg);
                    }
                }, "json");
            });
        }
    }

    // 添加
    function add() {
        layer.open({
            type: 2,
            title: '添加',
            area: ['50%', '70%'],
            maxmin: true,
            content: ["add"+model],
            btn: ['确认', '取消'],
            yes: function (index, layero) {
                var iframeWindow = window['layui-layer-iframe' + index],
                    submitID = 'submit',
                    submit = layero.find('iframe').contents().find('#' + submitID);
                // 监听提交
                iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                    data.field.hidden = data.field.hidden == "on" ? 0 : 1;
                    var field = data.field;// 获取提交的字段
                    // 提交ajax
                    $.post("<{:url('" + controller + "/add" + model + "Act')}>", field, function (e) {
                        showMsg(e.msg, e.code, function () {
                            if (e.code == 1) {
                                table.reload("test", {});
                                layer.close(index);
                            }
                        });
                    }, 'json');
                });
                submit.trigger('click');
            }
        });
    }

    //删除多选
    function delAll() {
        var checkStatus = table.checkStatus('test'); //idTest 即为基础参数 id 对应的值
        var list = [];
        for (var i = 0; i < checkStatus.data.length; i++) {
            list.push(checkStatus.data[i][zhujian]);
        }
        layer.open({
            content: '确定删除' + checkStatus.data.length + '条数据吗？',
            btn: ['确认', '取消'],
            yes: function () {
                $.post("<{:url('" + controller + "/del" + model + "AllAct')}>", {list: list}, function (e) {
                    if (e.code == 1) {
                        showMsg(e.msg)
                    } else {
                        showMsg(e.msg, false);
                    }
                }, "json");
            }
        })
    }

    //监听switch操作
    form.on('switch(hiddenDemo)', function (obj) {
        let data = {
            id: this.value,
            hidden: Number(!obj.elem.checked)
        };
        $.post("<{:url('" + controller + "/switch" + model + "Act')}>", data, function (e) {
            layer.msg(e.msg)
        }, 'json');
    });

    //监听单元格编辑
    table.on('edit(test)', function (obj) {
        var value = obj.value //得到修改后的值
            , data = obj.data //得到所在行所有键值
            , field = obj.field; //得到字段
        layer.msg('[ID: ' + data[zhujian] + '] ' + field + ' 字段更改为：' + value);
    });

    // 更多操作
    layui.config({
        base: '__STATIC__/dropdown/'
    }).use(['dropdown'], function () {
        var dropdown = layui.dropdown;
        // 监听菜单点击
        dropdown.onFilter('dropdown1', function (event) {
            var checkStatus = table.checkStatus('test');
            var list = [];
            var str = '隐藏';
            if (event === 'alllShow') {
                str = '显示';
                for (var i = 0; i < checkStatus.data.length; i++) {
                    list.push({id: checkStatus.data[i][zhujian], hidden: 0});
                }
            } else {
                for (var i = 0; i < checkStatus.data.length; i++) {
                    list.push({id: checkStatus.data[i][zhujian], hidden: 1});
                }
            }
            layer.open({
                content: '确定全部' + str + '选中的数据吗？',
                btn: ['确认', '取消'],
                yes: function () {
                    $.post("<{:url('" + controller + "/setState" + model + "AllAct')}>", {list: list}, function (e) {
                        if (e.code == 1) {
                            showMsg(e.msg)
                        } else {
                            showMsg(e.msg, false);
                        }
                    }, "json");
                }
            })
        })
    });

</script>
<script src="/static/admin/table.js"></script>
